:root {
    --blueText: hsl(215, 51%, 70%);
    --cyanAccent: hsl(178, 100%, 50%);
}

body {
    background-color: hsl(217, 54%, 11%);
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;

}

/* Class Selectors */

.attributionLine {
    /* attribution at bottom of page */
    color: var(--blueText);
    float: left;
    margin-bottom: 0;
}

.attributionSection {
    border-top: 1px solid  hsl(216, 30%, 30%);
    clear: both;
    margin-top: 10px;
    overflow: auto;
    padding-top: 18px;
}

.clockIcon {
    padding-right: 9px;
    position: relative;
    top: 3px;
    width: 18px;
}

.currentValuation {
    /* unknown number by the equilibrium symbol that I think is the price per unit */
    color: var(--cyanAccent);
    display: inline-block;
    float: left;
    font-size: 1.2rem;
}

.ethereumIcon {
    padding-right: 7px;
    position: relative;
    top: 3px;
    width: 12px;
}

.productDescription {
    /* main paragraph for product copy */
    color: var(--blueText);
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.65;
    margin-bottom: 0;
}

.productImage {
    /* prominent 3d cube image */
    border-radius: 8px;
    width: 100%;
}

.productName {
    /* the main h1 that's the name of the product */
    font-size: 1.8rem;
}

.profileImage {
    /* small circular profile image */
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    clear: both;
    display: inline-block;
    float: left;
    margin-right: 18px;
    width: 45px;
}

.timeRemaining {
    /* text showing the countdown for the deal */
    color: var(--blueText);
    display: inline-block;
    float: right;
    font-size: 1.1rem;
}

.wrapper {
    /* div that defines the space of the card */
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    left: 50%;
    overflow: auto;
    padding: 2.5%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 338px;
}

/* Compound Selectors */

.attributionLine .creatorName {
    color: #fff;
}
